@import "color";

$transition-duration: 0.3s;
$cubic-bezier: cubic-bezier(0.77, 0, 0.175, 1);
$skew-deg: -20deg;

.btnAuth {
    padding: 15px 20px;
    margin: 10px 4px;
    color: $white;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border: 1px solid $white;
    border-radius: 10px;
    overflow: hidden;
    transition: all $transition-duration ease-in-out;
    background: transparent;
    z-index: 10;

    &:hover {
        border: 1px solid $secondary;
        color: $primary;
    }

    &::before,
    &::after {
        content: '';
        height: 100%;
        display: block;
        position: absolute;
        left: -10%;
        top: 0;
        box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
    }

    &::before {
        width: 0%;
        background: $secondary;
        transform: skewX($skew-deg);
        opacity: 1;
        z-index: -12;
        transition: all 0.7s $cubic-bezier;
    }

    &::after {
        width: 0%;
        background: $primary;
        transform: skewX($skew-deg);
        opacity: 0;
        z-index: -15;
        transition: all 0.4s $cubic-bezier;
    }

    &:hover::before {
        opacity: 1;
        width: 116%;
    }

    &:hover::after {
        opacity: 1;
        width: 120%;
    }
}

  