*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredericka the Great", Arial, Helvetica, sans-serif;
}

body{
    overflow: hidden;
}

h1 {
    color: #ff8c00;
    font-family: "Fredericka the Great", Arial, Helvetica, sans-serif;
}